@font-face {
  font-family: bungeeRegular;
  src: url(/src/lib/fonts/Bungee-Regular.ttf);
}
@font-face {
  font-family: michromaRegular;
  src: url(/src/lib/fonts/Michroma-Regular.ttf);
}

:root {
  background-color: #262831;
  color: #00fffb;
  /*These are the defaults in :root that Gemini said to leave alone.. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5{
  font-family: bungeeRegular;
}

p{
  font-family: michromaRegular;
}

a{
  font-family: michromaRegular;
  text-decoration: none;
  color: #00fffb;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
}

.top-tab{
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px;
}

